<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="NLog\all_log.log">

	<targets>
		<!--檔案日誌，archive相關引數：檔案拆分，每100M拆分一個新檔案-->
		<target xsi:type="File"
			  name="all_log"
			  fileName="NLog\${shortdate}\${uppercase:${level}}.log"
			  layout="${longdate}|${logger}|${uppercase:${level}}|${message} ${exception}"
			  archiveFileName="NLog\${shortdate}\${uppercase:${level}}${shortdate}.{####}.log"
			  archiveNumbering="Rolling"
			  archiveAboveSize="10485760"
			  concurrentwrites="true"
			  maxArchiveFiles="100"
              />

	</targets>


	<rules>
		<!-- add your logging rules here -->
		<!--路由順序會對日誌列印產生影響。路由匹配邏輯為順序匹配。-->
		<logger name="*" minlevel="Trace" writeTo="all_log" />
	</rules>
</nlog>